<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- defaultHref should match the route of your welcome page -->
      <ion-back-button defaultHref="/welcome" text="" mode="md" color="dark"></ion-back-button>
      <ion-title>EventPortal</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding auth-screen">
  <div class="auth-container">
    <div class="header">
      <h2>Create Account</h2>
      <p>Join the IUSJC campus event community</p>
    </div>

    <div class="form-section">
      <!-- Full Name -->
     <ion-item lines="none" class="custom-input">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Full Name" [(ngModel)]="fullName" name="fullName"></ion-input>
      </ion-item>

      <!-- Institutional Email -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email Address" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <!-- phone number -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input type="tel" placeholder="Phone Number" [(ngModel)]="phone" name="phone"></ion-input>
      </ion-item>

      <!-- Password -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

      <ion-button expand="block" mode="ios" class="auth-btn" (click)="submitSignup()">
        REGISTER
      </ion-button>
    </div>

    <div class="footer">
      <p>Already have an account? <span class="highlight" routerLink="/login">Login</span></p>
    </div>
  </div>
</ion-content>