<ion-tabs>
  <ion-tab-bar slot="bottom"
    style="--background: #13224D; border-top: 1px solid rgba(255, 255, 255, 0.14);">

    <ion-tab-button tab="event" href="event"
      style="--color: rgba(255,255,255,0.72); --color-selected: #FF4D82;">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>View</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="create"
      style="--color: rgba(255,255,255,0.72); --color-selected: #FF4D82;">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="profile"
      style="--color: rgba(255,255,255,0.72); --color-selected: #FF4D82;">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>